#menu-1 .navbar-toggler {
  color: #000;
}
#menu-6 .navbar-toggler {
  color: #000;
}
#menu-5 .navbar-toggler {
  color: #000;
}
#menu-4 .navbar-toggler {
  color: #000;
}
#menu-3 .navbar-toggler {
  color: #000;
}
#menu-2 .navbar-toggler {
  color: #000;
}
